.jumbotron {
    background-color: whitesmoke;
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.lead {
    background-color: whitesmoke;
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}